# Ignore the top-level config folder
Samples/custom-data-feeds/csv-full-fetch-read-only-points/config/
 
# Ignore the framework folder
Samples/custom-data-feeds/csv-full-fetch-read-only-points/framework/
 
# Ignore node_modules
/node_modules/
/providers/csv-provider/node_modules/
 
# Ignore test
/providers/csv-provider/test/
 
# Ignore app-level src
/src
 
# Ignore specific JSON files
/cdconfig.json
/package.json
/package-lock.json
/providers/csv-provider/package-lock.json
 
 
# Ignore cdpks
*.cdpk